<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <title>Retire</title>
    <style>
      .form-container{
        background: #fff;
        padding: 30px;
        margin-right: -20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px #000;
        /* margin -100px; */
      }
      
    </style>
</head>
<body>
    <div class="card-body ">
        <h4 class="card-title text-center"> <b>Retired</b></h4>
        <div class="container">
        <form class=" form-container" action="/account/retired/{{cust.add_det_id}}" method = "POST">
         {% csrf_token %}
          <!-- <p class="card-description"> Personal info </p> -->
           
           <!-- <div class="container"> -->
            <div class="row">
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-sm-5 col-form-label"> <b>Customer Name</b> </label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="customer_name" value="{{cust.cust_name}}" disabled>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-sm-5 col-form-label"> <b>Applicant Type</b> </label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="applicant_type" value="{{cust.applicant_type}}" disabled>>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-sm-6 col-form-label"><b>Date Of Birth</b></label>
                      <div class="col-sm-9">
                        <input type="date" class="form-control" name="dob">
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><b>Age</b></label>
                    <div class="col-sm-9">
                      <input type="number" class="form-control" name="age">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><b>Mobile No.</b></label>
                    <div class="col-sm-9">
                      <input type="number" class="form-control" name="mobile_no">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label"><b>Alt Mobile No.</b></label>
                      <div class="col-sm-9">
                        <input type="number" class="form-control" name="alt_mobile">
                      </div>
                    </div>
                  </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><b>Email-Id</b></label>
                    <div class="col-sm-9">
                      <input type="email" class="form-control" name="email">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><b>Gender</b></label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="gender">
                    </div>
                  </div>
                </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><b>Address/Location</b></label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="address">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><b>State</b></label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="state">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label"><b>Pincode</b></label>
                      <div class="col-sm-9">
                        <input type="number" class="form-control" name="pincode">
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><b>Nationality</b></label>
                    <div class="col-sm-9">
                      <select class="form-control" name="nationality">
                        {% for nationalitie in nationalities %}
                          <option value="{{ nationalitie.nationality }}">{{ nationalitie.nationality }}</option>  
                        {% endfor %}
                      </select>
                      <!-- <input type="text" class="form-control"> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><b>Country</b></label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="country">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label"><b>End-Use</b></label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="end_use">
                      </div>
                    </div>
                  </div>
              </div>
              </div>
              
                <script type="text/javascript">
                  $(function () {
                      $("#Pensioner").click(function () {
                          if ($(this).is(":checked")) {
                              $("#details").show();
                          } else {
                              $("#details").hide();
                          }
                      });
                  });
              </script>
              <label for="Pensioner">
                  <input type="checkbox" id="Pensioner" />
                  <b>Pensioner</b>
              </label>
              <hr />
              <div class= "container" id="details" style="display: none">
                {% comment %} <select class="form-control col-md-4" name="role">
                  <option value="Indian">Pensioner</option>
                  <option value="Non Resident Indian">Non-Pensioner</option>
                </select> {% endcomment %}
                
                <!-- <div class="row">
                <div class="col-md-4">
                  <div class="form-group row">
                    
                <div class="col-sm-9">
                  
                  <input type="text" class="form-control">
                </div>
                  </div>
                </div>
                </div> -->

                <script type="text/javascript">
                  $(function () {
                      $("#IncomeDetails").click(function () {
                          if ($(this).is(":checked")) {
                              $("#details1").show();
                          } else {
                              $("#details1").hide();
                          }
                      });
                  });
              </script>
              <label for="IncomeDetails">
                  <input type="checkbox" id="IncomeDetails" />
                  <b>Income Details</b>
              </label>
              <hr />
              <div class= "container" id="details1" style="display: none">
                <div class="row">
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-sm-8 col-form-label"><b>Company name</b></label>
                <div class="col-sm-9">
                  <!-- Loan Amount Required: -->
                  <!-- <input type="text" id="txtPassportNumber" /> -->
                  <input type="text" class="form-control" name="comp_name">
                </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><b>Bank Name</b></label>
                <div class="col-sm-9">
                  <!-- Loan Amount Required: -->
                  <!-- <input type="text" id="txtPassportNumber" /> -->
                  <input type="text" class="form-control" name="bank_name">
                </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-sm-6 col-form-label"><b>Net Pension</b></label>
                <div class="col-sm-9">
                  <!-- Loan Amount Required: -->
                  <!-- <input type="text" id="txtPassportNumber" /> -->
                  <input type="number" class="form-control" name="net_pen">
                </div>
                  </div>
                </div>
  
  
  
                </div>
              </div>

              

              </div>

              

              
                  

                 

              




            <script type="text/javascript">
              $(function () {
                  $("#ResidenceDetails").click(function () {
                      if ($(this).is(":checked")) {
                          $("#details2").show();
                      } else {
                          $("#details2").hide();
                      }
                  });
              });
          </script>
          <label for="ResidenceDetails">
              <input type="checkbox" id="ResidenceDetails" />
              <b>Residence Details</b>
          </label>
          <hr />
          <div class= "container" id="details2" style="display: none">
            <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-8 col-form-label"><b>Current Residence Type</b></label>
            <div class="col-sm-9">
              <select class="form-control" name="res_type">
                <option value="Own">Owned</option>
                <option value="Rent">Rented</option>
                <option value="Parent">Parental</option>
                <option value="Cpa">Co. Provided Accomodation</option>
                <option value="Pg">Paying Guest</option>
                
        
        
        
              </select>
            </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-6 col-form-label"><b>Current Location</b></label>
            <div class="col-sm-9">
              <!-- Loan Amount Required: -->
              <!-- <input type="text" id="txtPassportNumber" /> -->
              <input type="text" class="form-control" name="cur_loc">
            </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><b>State</b></label>
            <div class="col-sm-9">
              <!-- Loan Amount Required: -->
              <!-- <input type="text" id="txtPassportNumber" /> -->
              <input type="text" class="form-control" name="statee">
            </div>
              </div>
            </div>
            <br>



           
          
          

          
        </div>
          </div>


          

      <script type="text/javascript">
        $(function () {
            $("#ExistingLoanDetails").click(function () {
                if ($(this).is(":checked")) {
                    $("#details3").show();
                } else {
                    $("#details3").hide();
                }
            });
        });
    </script>
    <label for="ExistingLoanDetails">
        <input type="checkbox" id="ExistingLoanDetails" />
        <b>Existing Loan Details</b>
    </label>
    <hr />
    <div class= "container" id="details3" style="display: none">
      <div class="row">
      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-sm-8 col-form-label"><b>Bank name</b></label>
      <div class="col-sm-9">
        <!-- Loan Amount Required: -->
        <!-- <input type="text" id="txtPassportNumber" /> -->
        <input type="text" class="form-control" name="bank_namee">
      </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label"><b>Product/Services</b></label>
      <div class="col-sm-9">
        <select class="form-control" name="pro_ser">
          {% for product in products %}
            <option value="{{product.product}}">{{ product.product }}</option>
          {% endfor %}
        </select>
        <!-- Loan Amount Required: -->
        <!-- <input type="text" id="txtPassportNumber" /> -->
        <!-- <input type="text" class="form-control"> -->
      </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-sm-6 col-form-label"><b>Loan Amount</b></label>
      <div class="col-sm-9">
        <!-- Loan Amount Required: -->
        <!-- <input type="text" id="txtPassportNumber" /> -->
        <input type="number" class="form-control" name="loan_amt">
      </div>
        </div>
      </div>



      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label"><b>EMI</b></label>
        <div class="col-sm-9">
          <!-- Loan Amount Required: -->
          <!-- <input type="text" id="txtPassportNumber" /> -->
          <input type="number" class="form-control" name="emi">
        </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-8 col-form-label"><b>Rate of interest</b></label>
        <div class="col-sm-9">
          <!-- Loan Amount Required: -->
          <!-- <input type="text" id="txtPassportNumber" /> -->
          <input type="number" class="form-control" name="roi">
        </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label"><b>Tenure</b></label>
        <div class="col-sm-9">
          <!-- Loan Amount Required: -->
          <!-- <input type="text" id="txtPassportNumber" /> -->
          <input type="number" class="form-control" name="tenure">
        </div>
          </div>
        </div>



        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-8 col-form-label"><b>EMI Start Date</b></label>
          <div class="col-sm-9">
            <!-- Loan Amount Required: -->
            <!-- <input type="text" id="txtPassportNumber" /> -->
            <input type="date" class="form-control" name="emi_start_date">
          </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-6 col-form-label"><b>EMI End Date</b></label>
          <div class="col-sm-9">
            <!-- Loan Amount Required: -->
            <!-- <input type="text" id="txtPassportNumber" /> -->
            <input type="date" class="form-control" name="emi_end_date">
          </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-8 col-form-label"><b>Outstanding Paid by Customer if any</b></label>
          <div class="col-sm-9">
            <!-- Loan Amount Required: -->
            <!-- <input type="text" id="txtPassportNumber" /> -->
            <input type="text" class="form-control" name="outstanding_paid">
          </div>
            </div>
          </div>



          </div>

          
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-8 col-form-label"><b>Outstanding Amount</b></label>
            <div class="col-sm-9">
              <!-- Loan Amount Required: -->
              <!-- <input type="text" id="txtPassportNumber" /> -->
              <input type="number" class="form-control" name="outstanding_amt">
            </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-6 col-form-label"><b>Any Bounces?</b></label>
            <div class="col-sm-9">
              <select class="form-control" name="any_bounce">
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
              <!-- Loan Amount Required: -->
              <!-- <input type="text" id="txtPassportNumber" /> -->
              <!-- <input type="text" class="form-control"> -->
            </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-8 col-form-label"><b>Moratorium Taken?</b></label>
            <div class="col-sm-9">
              <select class="form-control" name="moratorium_taken">
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
              <!-- Loan Amount Required: -->
              <!-- <input type="text" id="txtPassportNumber" /> -->
              <!-- <input type="text" class="form-control"> -->
            </div>
              </div>
            </div>



            </div>
            
            <label class="col-md-4 col-form-label"><b>Applicant Type</b></label>
            <!-- <input type="text" class="form-control col-md-4"> -->
            <select class="form-control col-md-4" name="applicant_type">
              <option value="applicant">Applicant</option>
              <option value="coapplicant">Co-Applicant</option>
              <option value="gurantor">Gurantor</option>
            </select>
    <!-- </div> -->
          <div class="form-group-row">
            <br>
            <div>
              <button class="btn btn-primary add_button" id="addCustomerButton" type="button" style="color:white">
                + Add </button>
            </div>
          </div>
            <br>
            <div class="additionalCustomerDetail">
            </div>

            <!-- <h1></h1> -->

            <script type="text/javascript">

              var x=1;
            
                $("#addCustomerButton").click(function(){
                  alert("One More Existing Loan Details is Added");
                 x++; //Increment field counter
                 $('.additionalCustomerDetail').append(`
                 <div class="customerDetails${x}">
                  <div class="row">
      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-sm-8 col-form-label"><b>Bank name</b></label>
      <div class="col-sm-9">
        <!-- Loan Amount Required: -->
        <!-- <input type="text" id="txtPassportNumber" /> -->
        <input type="text" class="form-control" name="bank_namee">
      </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label"><b>Product/Services</b></label>
      <div class="col-sm-9">
        <select class="form-control" name="pro_ser">
          <option value="Indian">Personal</option>
          <option value="business">Buiness</option>
          <option value="home">Home</option>
          <option value="lap">LAP</option>
          <option value="two_wheeler">2Wheeler</option>
          <option value="four_wheeler">4Wheeler</option>
          <option value="consumer">Consumer</option>
        </select>
        <!-- Loan Amount Required: -->
        <!-- <input type="text" id="txtPassportNumber" /> -->
        <!-- <input type="text" class="form-control"> -->
      </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-sm-6 col-form-label"><b>Loan Amount</b></label>
      <div class="col-sm-9">
        <!-- Loan Amount Required: -->
        <!-- <input type="text" id="txtPassportNumber" /> -->
        <input type="number" class="form-control" name="loan_amt">
      </div>
        </div>
      </div>



      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label"><b>EMI</b></label>
        <div class="col-sm-9">
          <!-- Loan Amount Required: -->
          <!-- <input type="text" id="txtPassportNumber" /> -->
          <input type="number" class="form-control" name="emi">
        </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-8 col-form-label"><b>Rate of interest</b></label>
        <div class="col-sm-9">
          <!-- Loan Amount Required: -->
          <!-- <input type="text" id="txtPassportNumber" /> -->
          <input type="number" class="form-control" name="roi">
        </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label"><b>Tenure</b></label>
        <div class="col-sm-9">
          <!-- Loan Amount Required: -->
          <!-- <input type="text" id="txtPassportNumber" /> -->
          <input type="number" class="form-control" name="tenure">
        </div>
          </div>
        </div>



        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-8 col-form-label"><b>EMI Start Date</b></label>
          <div class="col-sm-9">
            <!-- Loan Amount Required: -->
            <!-- <input type="text" id="txtPassportNumber" /> -->
            <input type="date" class="form-control" name="emi_start_date">
          </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-6 col-form-label"><b>EMI End Date</b></label>
          <div class="col-sm-9">
            <!-- Loan Amount Required: -->
            <!-- <input type="text" id="txtPassportNumber" /> -->
            <input type="date" class="form-control" name="emi_end_date">
          </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-8 col-form-label"><b>Outstanding Paid by Customer if any</b></label>
          <div class="col-sm-9">
            <!-- Loan Amount Required: -->
            <!-- <input type="text" id="txtPassportNumber" /> -->
            <input type="text" class="form-control" name="outstanding_paid">
          </div>
            </div>
          </div>



          </div>

          
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-8 col-form-label"><b>Outstanding Amount</b></label>
            <div class="col-sm-9">
              <!-- Loan Amount Required: -->
              <!-- <input type="text" id="txtPassportNumber" /> -->
              <input type="number" class="form-control" name="outstanding_amt">
            </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-6 col-form-label"><b>Any Bounces?</b></label>
            <div class="col-sm-9">
              <select class="form-control" name="any_bounce">
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
              <!-- Loan Amount Required: -->
              <!-- <input type="text" id="txtPassportNumber" /> -->
              <!-- <input type="text" class="form-control"> -->
            </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-8 col-form-label"><b>Moratorium Taken?</b></label>
            <div class="col-sm-9">
              <select class="form-control" name="moratorium_taken">
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
              <!-- Loan Amount Required: -->
              <!-- <input type="text" id="txtPassportNumber" /> -->
              <!-- <input type="text" class="form-control"> -->
            </div>
              </div>
            </div>



            </div>
            
            <label class="col-md-4 col-form-label"><b>Applicant Type</b></label>
            <!-- <input type="text" class="form-control col-md-4"> -->
            <select class="form-control col-md-4" name="applicant_type">
              <option value="applicant">Applicant</option>
              <option value="co_applicant">Co-Applicant</option>
              <option value="gurantor">Gurantor</option>
            </select>
            <br>

            

            <div style="text-align:left">
        <button class="btn btn-primary mr-3 removeCustomerDetails${x}Button" onclick="removeCustomerDetail('customerDetails${x}')" >
            Remove 
        </button>
</div>
 <br>
                      
                               


 
            `); //Add field html
});
function removeCustomerDetail(parentclass){
    alert("Remove Existing Loan Details")
  $("."+`${parentclass}`).remove();
}
</script>
    </div>
    





    <script type="text/javascript">
      $(function () {
          $("#ExistingCardDetails").click(function () {
              if ($(this).is(":checked")) {
                  $("#details4").show();
              } else {
                  $("#details4").hide();
              }
          });
      });
  </script>
  <label for="ExistingCardDetails">
      <input type="checkbox" id="ExistingCardDetails" />
     <b> Existing Card Details</b>
  </label>
  <hr />
  <div class= "container" id="details4" style="display: none">
    <div class="row">
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-sm-8 col-form-label"><b>Bank Name</b></label>
    <div class="col-sm-9">
      <!-- Loan Amount Required: -->
      <!-- <input type="text" id="txtPassportNumber" /> -->
      <input type="text" class="form-control" name="bank_nameee">
    </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label"><b>Credit Limit</b></label>
    <div class="col-sm-9">
      <!-- Loan Amount Required: -->
      <!-- <input type="text" id="txtPassportNumber" /> -->
      <input type="number" class="form-control" name="credit_limit">
    </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label"><b>Limit Utilize</b></label>
    <div class="col-sm-9">
      <!-- Loan Amount Required: -->
      <!-- <input type="text" id="txtPassportNumber" /> -->
      <input type="number" class="form-control" name="limit_utilized">
    </div>
      </div>
    </div>



    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-sm-8 col-form-label"><b>Minimum Due</b></label>
      <div class="col-md-9">
        <!-- Loan Amount Required: -->
        <!-- <input type="text" id="txtPassportNumber" /> -->
        <input type="number" class="form-control" name="min_due">
      </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-sm-6 col-form-label"><b>Credit Card Age</b></label>
      <div class="col-md-9">
        <!-- Loan Amount Required: -->
        <!-- <input type="text" id="txtPassportNumber" /> -->
        <input type="number" class="form-control" name="card_age">
      </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-sm-8 col-form-label"><b>Any Delay In Payment</b></label>
      <div class="col-sm-9">
        <select class="form-control" name="pay_delay">
          <option value="yes">Yes</option>
          <option value="No">No</option>
        </select>
        <!-- Loan Amount Required: -->
        <!-- <input type="text" id="txtPassportNumber" /> -->
        <!-- <input type="text" class="form-control"> -->
      </div>
        </div>
      </div>
      



      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-6 col-form-label"><b>Year Of Payment Delay</b></label>
        <div class="col-sm-9">
          <select class="form-control" name="pay_delay_year">
            <option value="yes">Last 1 year</option>
            <option value="no">Prior to 1 year</option>
          </select>
         
        </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label"><b>Moratorium Taken?</b></label>
        <div class="col-sm-9">
          <select class="form-control" name="moratorium_takenn">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>

        </div>
          </div>
        </div>
      </div>
        

          <!-- <h1></h1> -->
          <br>
          

          
            
            <div>
              <button class="btn btn-primary add_button" id="addCustomerButton1" type="button" style="color:white">
                + Add </button>

                <br>
            </div>
          </div>
            
            <div class="additionalCustomerDetail1">
            </div>

            <!-- <h1></h1> -->

          <script type="text/javascript">

              var x=1;
            
                $("#addCustomerButton1").click(function(){
                  alert("One More Existing Card Details is Added");
                 x++; //Increment field counter
                 $('.additionalCustomerDetail1').append(`
                 <div class="customerDetails1${x}">
                  <div class="row">
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-sm-8 col-form-label"><b>Bank Name</b></label>
    <div class="col-sm-9">
      <!-- Loan Amount Required: -->
      <!-- <input type="text" id="txtPassportNumber" /> -->
      <input type="text" class="form-control" name="bank_nameee">
    </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label"><b>Credit Limit</b></label>
    <div class="col-sm-9">
      <!-- Loan Amount Required: -->
      <!-- <input type="text" id="txtPassportNumber" /> -->
      <input type="number" class="form-control" name="credit_limit">
    </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label"><b>Limit Utilize</b></label>
    <div class="col-sm-9">
      <!-- Loan Amount Required: -->
      <!-- <input type="text" id="txtPassportNumber" /> -->
      <input type="number" class="form-control" name="limit_utilized">
    </div>
      </div>
    </div>



    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-sm-8 col-form-label"><b>Minimum Due</b></label>
      <div class="col-md-9">
        <!-- Loan Amount Required: -->
        <!-- <input type="text" id="txtPassportNumber" /> -->
        <input type="number" class="form-control" name="min_due">
      </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-sm-6 col-form-label"><b>Credit Card Age</b></label>
      <div class="col-md-9">
        <!-- Loan Amount Required: -->
        <!-- <input type="text" id="txtPassportNumber" /> -->
        <input type="number" class="form-control" name="card_age">
      </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-sm-8 col-form-label"><b>Any Delay In Payment</b></label>
      <div class="col-sm-9">
        <select class="form-control" name="pay_delay">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
        <!-- Loan Amount Required: -->
        <!-- <input type="text" id="txtPassportNumber" /> -->
        <!-- <input type="text" class="form-control"> -->
      </div>
        </div>
      </div>
      



      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-6 col-form-label"><b>Year Of Payment Delay</b></label>
        <div class="col-sm-9">
          <select class="form-control" name="pay_delay_year">
            <option value="last_one_year">Last 1 year</option>
            <option value="prior">Prior to 1 year</option>
          </select>
         
        </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-6 col-form-label"><b>Moratorium Taken?</b></label>
        <div class="col-sm-9">
          <select class="form-control" name="moratorium_takenn">
            <option value="yes">Yes</option>
            <option value="no>No</option>
          </select>
          </div>
          </div>
          </div>
        <br>
        
        <div class="form-group-row">
                  <br>
                  <div>
                  <button class="btn btn-primary mr-3 removeCustomerDetails1${x}Button" onclick="removeCustomerDetail1('customerDetails1${x}')" >
                      Remove 
                  </button>
                  </div>
          </div>
           <br>

                  
                 
                  
                      
                               


 
            `); //Add field html
});
function removeCustomerDetail1(parentclass){
    alert("Remove Existing Card Details?")
  $("."+`${parentclass}`).remove();
}


</script>
     <br>

     <script type="text/javascript">
      $(function () {
          $("#Investment").click(function () {
              if ($(this).is(":checked")) {
                  $("#details5").show();
              } else {
                  $("#details5").hide();
              }
          });
      });
  </script>
  <label for="Investment">
      <input type="checkbox" id="Investment" />
      <b>Investment</b>
  </label>
  <hr />
  <div class= "container" id="details5" style="display: none">
    <div class="row">
    <div class="col-md-4">
      <div class="form-group row">
        
    <div class="col-sm-9">
      
      <select class="form-control" name="investment">
        <option value="Bnk">Bank Savings/Deposits</option>
        <option value="Otp">Other Properties</option>
        <option value="Curr">Current Balance in PF / PPF</option>
        <option value="Lip">Life Insurance Policies /PLI</option>
        <option value="Sas">Share & Securities</option>
        <option value="Ota">Other Assets (Pl. specify)</option>
        <option value="Oop">Other Owned Property Details</option>



      </select>
    </div>
      </div>
    </div>
    </div>
  </div>

  <!-- <div class="col-md-4">
    <div class="form-group row">
      <label class="col-sm-6 col-form-label"><b>Any bounces?</b></label>
  <div class="col-sm-9">
    <select class="form-control" name="role">
      <option value="Indian">Yes</option>
      <option value="Non Resident Indian">No</option>
    </select> -->

    <!-- Loan Amount Required: -->
    <!-- <input type="text" id="txtPassportNumber" /> -->
    <!-- <input type="text" class="form-control"> -->


  <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-9 col-form-label"><b>Inward Cheque Return Last 6 Months</b></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="inward_cheque">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-9 col-form-label"><b>Multiple Enquiry in Last 3 months</b></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="multiple_enquiry">
          </div>
        </div>
      </div>
  </div>
  <br>
              </div>
  <div style="text-align:center">
    <button class="btn btn-primary mr-3" type="submit">Cancel</button>
    <button class="btn btn-primary mr-3" type="submit">Save & Submit</button>
    <button class="btn btn-primary mr-3" type="submit">Next</button>
 

  </div>
          
  </div>
</form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
