{%extends 'master/navbar.html'%} {% block title%}status{% endblock %} {% block body %} {% load static %}


<div id="wrapper">
  <br>
  <br>
  <br>
  <br>

    <div class="container">
        <h3 class="card-title text-center header"> Status</h3>
        
        
        <form class="form-container" action={% url 'Status_form' %} method="POST">
            {% csrf_token %}
            
            <div class="col-12 md-6 sm-4"> 
                <label class="col-sm-5 col-form-label"> <b>Status</b> </label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="Status">
                    </div>
            </div>
            
            <br>
            
                <div style="text-align:center">
                    
                    <button class="btn btn-primary mr-3" type="submit">Submit</button>
        
                </div>
            
        </form>
    </div>

</div>
</div>
    
    {% endblock %}